<div class="footer-body">
    <div class="container">

        <footer>
            <div class="footer-body2">
                <p>
                    <a href="https://home.bluecrossma.com/">
                        <img class="footer-img responsive-img" src="../../../assets/image/bcbsma-stacked.svg">
                    </a>
                </p>

                <div class="v-align">
                    <div class="app-download-links">
                        <div class="links">

                            <div>
                                <a href="https://itunes.apple.com/us/app/blue-cross-blue-shield-massachusetts/id937789998?mt=8" id="6C"><img class="responsive-img" alt="" src="../../../assets/image/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"></a>
                            </div>
                            <div>
                                <a href="https://play.google.com/store/apps/details?id=com.bluecrossma.bcbsma&amp;waid=WCfIY4yq0z4-aoBeO7F" id="6C"><img class="responsive-img" alt="" src="../../../assets/image/google-play-badge.svg"></a>
                            </div>

                        </div>

                        <div class="social">
                            <!-- Add font awesome icons -->
                            <a href="https://www2.bluecrossma.com/social/welcome.php?social-redirect=facebook" class="fa fa-facebook"></a>
                            <a href="https://www2.bluecrossma.com/social/welcome.php?social-redirect=twitter" class="fa fa-twitter"></a>
                            <a href="https://www2.bluecrossma.com/social/welcome.php?social-redirect=linkedin" class="fa fa-linkedin"></a>
                            <a href="https://www2.bluecrossma.com/social/welcome.php?social-redirect=youtube" class="fa fa-youtube"></a>
                        </div>
                    </div>
                    <div class="description">
                        <div class="disclaimer">Blue Cross Blue Shield of Massachusetts is an Independent Licensee of the Blue Cross and Blue Shield Association. <sup>®</sup>, ℠ Registered and Service Marks of the Blue Cross and Blue Shield Association. <sup>®</sup>' Registered
                            Marks of Blue Cross Blue Shield of Massachusetts. <sup>®</sup>’’, ℠´, ™ Registered Service and Trade Marks are property of their respective owners. © 2018&nbsp;Blue Cross and Blue Shield of Massachusetts, Inc., and Blue Cross
                            and Blue Shield of Massachusetts HMO Blue, Inc.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>