@import 'src/common-style';
.body {
    border-style: solid;
    border-color: $white;
    border-width: 2px;
    border-bottom-color: $primary-blue;
    margin-top: 5px;
    margin-bottom: 10px;
}

img {
    padding-top: 10px;
    width: 20%;
    height: 20%;
}

.nav-wrapper {
    background-color: $primary-blue;
    font-weight: 500;
}

.NavProfile {
    padding-right: 30px;
}

.logout {
    color: darken($bg-grey, 30%);
    mat-icon {
        color: darken($bg-grey, 30%);
    }
}